In [14]:
import pandas as pd
import tarfile
import gzip

PATH_BA = "BeerAdvocate.tar.gz"
PATH_RB = "RateBeer.tar.gz"
PATH_MATCHED_BEER_DATA = "matched_beer_data.tar.gz"

In [42]:
folderBA = tarfile.open(PATH_BA)
filesBA = []
for file in folderBA : 
    filesBA.append(file)
for file in filesBA :
    print(file.name)

beers.csv
reviews.txt.gz
users.csv
breweries.csv
ratings.txt.gz

In [41]:
files = folderBA.getmember()

TypeError: getmember() missing 1 required positional argument: 'name'

In [52]:
folderBA = tarfile.open(PATH_BA)
beersBA = pd.read_csv(folderBA.extractfile(folderBA.getmember('beers.csv')))
beersBA

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,nbr_reviews,avg,ba_score,bros_score,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
0,166064,Nashe Moskovskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,4.7,NaN,NaN,0,NaN
1,166065,Nashe Pivovskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,3.8,NaN,NaN,0,NaN
2,166066,Nashe Shakhterskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,4.8,NaN,NaN,0,NaN
3,166067,Nashe Zhigulevskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,4.0,NaN,NaN,0,NaN
4,166063,Zhivoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,4.5,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280818,19139,Kölsch Ale,885,Summit Station Restaurant & Brewery,Kölsch,3,3,2.71,NaN,NaN,5.0,2.713333,NaN,0,NaN
280819,19140,Nut Brown Ale,885,Summit Station Restaurant & Brewery,English Brown Ale,2,1,3.10,NaN,NaN,5.3,3.250000,NaN,0,NaN
280820,19146,Octoberfest,885,Summit Station Restaurant & Brewery,Märzen / Oktoberfest,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
280821,2805,Scotch Ale,885,Summit Station Restaurant & Brewery,Scotch Ale / Wee Heavy,0,0,NaN,NaN,NaN,7.0,NaN,NaN,0,NaN
280822,19148,Smoked Porter,885,Summit Station Restaurant & Brewery,American Porter,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [58]:
breweriesBA = pd.read_csv(folderBA.extractfile(folderBA.getmember('breweries.csv')))
breweriesBA

,id,location,name,nbr_beers
0,39912,Kyrgyzstan,Abdysh-Ata (Абдыш Ата),5
1,39913,Kyrgyzstan,Arpa (АРПА),1
2,39914,Kyrgyzstan,Bear Beer,4
3,39915,Kyrgyzstan,Blonder Pub,4
4,39916,Kyrgyzstan,Kellers Bier,2
...,...,...,...,...
16753,128,Germany,Privatbrauerei Franz Joseph Sailer,6
16754,5023,Aruba,Aruba Brewing,0
16755,1573,"United States, New York",John Harvard’s Brewery & Ale House,491
16756,16186,"United States, North Carolina",Triangle Brewing Company,20
16757,1138,"United States, Maryland",South Baltimore Brewing,0

In [63]:
ratingsBA = folderBA.extractfile(folderBA.getmember('ratings.txt.gz'))
ratingsBA = pd.read_csv(ratingsBA, sep=';', compression='gzip')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 322, saw 22